External/Managed/*.dll
.vs
obj
bin
*.user
External/*
!External/Add external references here.txt
External/Autopilot/Autopilot-Common.dll
External/Autopilot/Autopilot-Common.dll
External/Autopilot/Autopilot.dll
